<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAElTDlCL81AfmDt6Vju3m9bn-eVVDwuis</string>
	<key>GCM_SENDER_ID</key>
	<string>764227837736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rn30days</string>
	<key>PROJECT_ID</key>
	<string>rn30days</string>
	<key>STORAGE_BUCKET</key>
	<string>rn30days.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764227837736:ios:7976fa1d09ec4157dd7a1d</string>
</dict>
</plist>